.ui-list {
  max-width: 952px;
  margin: 0 auto;
  padding: 0;
  list-style: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ui-list-item {
  display: flex;
}

.buttons-container {
  margin: 0 0 0 12px;
  display: flex;
  gap: 12px;
}

.circles-list {
  margin: 120px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin: 0 16px;
}
