.section {
  min-height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ui-container {
  display: flex;
  justify-content: center;
}

.radio-inputs-container {
  margin: 0 52px 0 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.sort-buttons-container {
  margin: 0 80px 0 0;
  display: flex;
  gap: 12px;
}

.random-columns-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  list-style: none;
}
